<%- include('../includes/boilerplate.ejs') %>
    <!-- <link rel="stylesheet" href="/css files/forms.css"> -->
    <link rel="stylesheet" href="/css files/auth.css">
</head>

<body>
   <%- include('../includes/navbar.ejs') %>

    <main>

        <div class="center-div">

            <% if(errorMsg){ %>
                <div class="user-message user-message--error">
                    <%= errorMsg %>
                </div>
            <% } %>
            <form class="login-form" action="/new-password" method="POST">
                <div class="form-control">
                    <label for="email">New Password</label>
                    <input type="password" name="password" id="password">
                </div>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="hidden" name="passwordToken" value="<%= passwordToken%>">
                <input type="hidden" name="userId" value="<%= userId %>">
                <button class="btn" type="submit">Set password</button>
            </form>

        </div>

    </main>
